.logo {
  text-align: center;
}

.black-font {
  color: #2c2b2a;
  font-family: $main_font_familyBold;
}

.title-line {
  h2 {
    position: relative;
    font-family: $main_font_familyBold;
    font-size: 30px;
    &:after {
      position: absolute;
      right: 10px;
      top: 15px;
      content: "";
      width: 72%;
      height: 1px;
      background: #eaeaea;
    }
  }
}

.nav {
  font-size: 16px;
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin: 20px 15px;
      a {
        color: #333333;
        text-decoration: none;
        display: block;
      }
      &:hover {
        margin: 14px 5px;
        background: #0eeb56;
        background: linear-gradient(to bottom, #0def58, #17bc42);
        border-radius: 20px;
        box-shadow: 0 5px 20px rgba(22,192,68,.7);
        a {
          padding: 6px 10px;
          color: #ffffff;
        }
      }
    }
  }
}

.phone {
  position: relative;
  text-align: right;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .number {
    display: inline-block;
    font-size: 18px;
    span {
      color: #16c044;
      font-size: 20px;
      font-family: $main_font_familyBold;
    }
    .number-descr {
      display: inline-block;
      font-size: 10px;
      color: #333333;
      font-family: $main_font_family;
    }
  }
  .call-phone {
    font-family: $main_font_familyBold;
    a {
      font-size: 21px;
      color: #333333;
      border-bottom: 1px dashed #333333;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid #333333;
      }
    }
  }
}

.green-btn {
  color: #ffffff;
  background: linear-gradient(to bottom, #0def58, #17bc42);
  border-radius: 40px;
  font-size: 18px;
  font-family: $main_font_familyBold;
  text-transform: uppercase;
  border: 0;
  padding: 12px;
  transition: .3s box-shadow ease;
  &:hover, &:focus {
    box-shadow: 0 5px 20px rgba(22, 192, 68, .7);
    background: linear-gradient(to bottom, #1bd658, #119e35);
    text-decoration: none;
    color: #ffffff;
  }
  &:focus, &:active {
    outline: 0;
  }
}

.title {
  h2 {
    text-align: center;
    font-size: 30px;
    font-family: $main_font_familyBold;
    color: #333333;
  }
}

.opacity {
  opacity: .2;
}

.opacity-block {
  text-align: center;
  .btn-visible {
    position: relative;
    margin-top: 20px;
    display: inline-block;
    padding: 14px 17px;
    &:after, &:before {
      position: absolute;
      width: 40px;
      height: 20px;
      content: "";
      background: url("../img/arrow-down.png") no-repeat top center;
    }
    &:after {
      top: 20px;
      left: -70px;
    }

    &:before {
      top: 20px;
      right: -70px;
    }
  }
}

//Form

.form-control:focus, textarea:focus {
  border-color: #1bd658;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(22, 192, 68, .7)
}

.form-control, textarea {
  padding-left: 50px;
  position: relative;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
}

.labels {
  display: block;
  width: 100%;
  position: relative;
  border: 0;
  img {
    z-index: 2;
    position: absolute;
    top: 8px;
    left: 15px;
  }
  .calendar {
    left: 82%;
  }
}

textarea {
  padding: 8px 0 0 20px;
  height: 80px;
  width: 100%;
  resize: none;
  &:focus, &:active {
    outline: none;
  }
}

.time-day {
  text-align: left;
  margin-left: 25px;
  input {
    display: none;
    &:checked ~ label:before {
      padding: 1px;
      background: linear-gradient(to top, #17bb41 0%, #0def58 100%);
    }
  }
  label {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    &:before {
      position: absolute;
      display: inline-block;
      content: "";
      left: 0;
      top: 2px;
      height: 15px;
      width: 15px;
      border-radius: 100%;
      border: 1px solid #e5e5e5;
    }
  }
}

#scene {
  list-style: none;
}

.form-tabs {
  position: relative;
  margin-top: 40px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  input[type="submit"] {
    border: 0;
    padding: 13px 49px;
  }
  input[type="date"]::-webkit-datetime-edit-text {  color: red; padding: 0 0.3em; }
  input[type="date"]::-webkit-datetime-edit-month-field {  }
  input[type="date"]::-webkit-datetime-edit-day-field {   }
  input[type="date"]::-webkit-datetime-edit-year-field {   }
  input[type="date"]::-webkit-inner-spin-button { display: none; }
}
.form-tabs > label {
  display: inline-block;
  width: 49%;
  background: linear-gradient(to top, #17bb41 0%, #0def58 100%);
  cursor: pointer;
  position: relative;
  line-height: 50px;
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  border-bottom: 1px solid #f5f5f5;
  color: #ffffff;
}
#tab_l1 {
  border-radius: 10px 0 0 0;
}
#tab_l2 {
  float: right;
  border-radius: 0 10px 0 0;
}
.form-tabs > input {
  display: none;
}
#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2 {
  background: #ffffff;
  border-bottom: 0;
  z-index: 3;
  color: $main_font_color;
}

.tabs_cont {
  padding: 20px 20px 10px;
  position: relative;
  z-index: 2;
  text-align: center;
}
.tabs_cont > div {
  position: absolute;
  left: -9999px;

  opacity: 0;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;}

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2 {
  position: static;
  left: 0;
  opacity: 1;}

//button visible

.arrow-up:after, .arrow-up:before {
  background-image: url("../img/arrow-up.png") !important;
}

.btn-visible {
  cursor: pointer;
  width: 260px;
  position: relative;
  margin-top: 20px;
  display: inline-block;
  padding: 14px 17px;
  &:after, &:before {
    position: absolute;
    width: 40px;
    height: 20px;
    content: "";
    background: url("../img/arrow-down.png") no-repeat top center;
  }
  &:after {
    top: 20px;
    left: -70px;
  }

  &:before {
    top: 20px;
    right: -70px;
  }
}

// Map
.map {
  border-radius: 15px;
  height: 300px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}

//PoPup
.modal {
  .modal-dialog {
    width: 30%;
    max-width: 450px;
    margin-top: 60px;
    border-radius: 20px;
    .modal-content {
      border-radius: 18px;
      border: none;
      box-shadow: none;
    }
  }
  .modal-header {
    text-align: center;
    padding: 15px 15px 0 15px;
    border: 0;
    .close {
      margin-top: -15px;
      font-size: 25pt;
      opacity: 1;
      &:hover {
        opacity: .5;
      }
    }
  }
  .modal-body {
    padding: 0;
    .main-form {
      text-align: center;
      border: none;
      box-shadow: none;
      h2 {
        margin-top: 5px;
      }
      .form-horizontal {
        padding: 0 10px;
      }
      input[type="submit"] {
        padding: 13px 45px;
      }
    }
  }
  .modal-footer {
    display: none;
  }
  .main-form {
    padding: 0 20px 20px;
    margin-top: 0;
  }
}

.success {
  text-align: center;
  background-color: #fff;
  color: #3bb038;
  width: 90%;
  margin: 10px auto 35px;
  font-size: 20px;
}

.success-modal {
  display: none;
}

#orderModal {
  .modal-dialog {
    border: 0;
  }
}

//Calc

.calc {
  text-align: center;
  .selectBox {
    width: 100%;
    border-radius: 40px;

    padding: 13px 0;
    border: 1px solid #e5e5e5;
    &:focus {
      outline: none;
    }
  }
}

.select {
  margin-bottom: 20px;
  height: 50px;
  position: relative;
}

div.selectBox {
  text-align: left;
  background: #ffffff;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  transition: .3s;
}

div.selectBox p.valueTag {
  margin-left: 20px;
  margin-bottom: 0;
  cursor: pointer;
  transition: .2s;
}

div.selectBox > img.arrow {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 20px;
}

/*
        для пользователей Safari, Chrome и Opera приятный бонус — стилизованный скролл-бар.
*/
::-webkit-scrollbar {
  background: transparent;
  width: 0.5em;
  position: absolute;
}
::-webkit-scrollbar-track {
  background: transparent;
  position: absolute;
  z-index: -2;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #888;
}

ul.selectMenuBox {
  transition: .3s;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden !important;
  position: absolute;
  margin: 13px 0 0;
  display: block;
  padding-left: 0;
}
ul.selectMenuBox > li {
  display: block;
  padding: 10px;
  border-radius: 00px;
  cursor: pointer;
}
ul.selectMenuBox > li.option {
  color: gray;
  padding: 10px 0 0 20px;

}
ul.selectMenuBox > li.option:hover {
  color: $main_font_color;
  background: #e1e1e1;
  transition: .2s;
}

.select-shadow {
  box-shadow: 0 5px 20px rgba(22,192,68,.7);
}

.z-index {
  z-index: 10;
}

// Animation Icon Block2

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.9s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

//Popup img

.minimized {
  width: 50%;
  cursor: pointer;
  border: 1px solid #FFF;
}

.minimized:hover {
  border: 1px solid yellow;
}

/* увеличенная картинка */
#magnify {
  display: none;

  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 800px;
  height: auto;
  z-index: 9999;
}

#magnify img {
  width: 100%;
  border-radius: 10px;
}

/* затемняющий фон */
#overlay {
  display: none;

  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}

/* кнопка закрытия */
#close-popup {
  width: 20px;
  height: 20px;

  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

#close-popup i {
  width: 20px;
  height: 20px;
  display: block;
  font-style: normal;
  margin-left: 5px;
  margin-top: -3px;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

@keyframes rota {
  25% { transform: rotate(360deg); }
}

